/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        select_word_mac: select_word_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>;

            label = "SELECT_WORD";
        };

        select_line_mac: select_line_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>;

            label = "SELECT_LINE";
        };

        next_tab: next_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "NEXT_TAB";
        };

        prev_tab: prev_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "PREV_TAB";
        };
    };

    combos {
        compatible = "zmk,combos";

        base_switch_to_windows {
            bindings = <&to 1>;
            key-positions = <11 49>;
            layers = <0>;
        };

        windows_switch_to_base {
            bindings = <&to 0>;
            key-positions = <11 49>;
            layers = <1>;
        };

        base_switch_to_game {
            bindings = <&to 2>;
            key-positions = <11 54>;
            layers = <0>;
        };

        bootloader_left {
            bindings = <&bootloader>;
            key-positions = <0 5>;
        };

        bootloader_right {
            bindings = <&bootloader>;
            key-positions = <6 11>;
        };

        windows_switch_to_game {
            bindings = <&to 2>;
            key-positions = <11 54>;
            layers = <1>;
        };

        game_switch_to_base {
            bindings = <&to 0>;
            key-positions = <11 54>;
            layers = <1>;
        };
    };

    behaviors {
        HRML: HRML {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 55 56 57 54 43 42 53 52 51 50 0 12 24 36>;
            hold-trigger-on-release;
        };

        HMRR: HMRR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMRR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 2 3 4 43 54 55 56 57 11 35 23 49>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "Base";
            bindings = <
&kp ESC    &kp N1         &kp N2            &kp N3            &kp N4              &kp N5                         &kp N6  &kp N7               &kp N8             &kp N9             &kp N0                 &mt M MINUS
&kp TAB    &kp Q          &kp W             &kp E             &kp R               &kp T                          &kp Y   &kp U                &kp I              &kp O              &kp P                  &kp EQUAL
&kp LCTRL  &HRML LCTRL A  &HRML LEFT_ALT S  &HRML LEFT_GUI D  &HRML LEFT_SHIFT F  &kp G                          &kp H   &HMRR RIGHT_SHIFT J  &HMRR RIGHT_GUI K  &HMRR RIGHT_ALT L  &HMRR RCTRL SEMICOLON  &kp SQT
&kp LSHFT  &kp Z          &kp X             &kp C             &kp V               &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M                &kp COMMA          &kp DOT            &kp FSLH               &kp RIGHT_SHIFT
                                            &kp LALT          &kp LGUI            &mo 5   &kp SPACE    &kp RET   &mo 3   &kp BSPC             &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "Windows";
            bindings = <
&trans  &trans        &trans  &trans                &trans  &trans                    &trans  &trans  &trans       &trans  &trans              &mt W MINUS
&trans  &trans        &trans  &trans                &trans  &trans                    &trans  &trans  &trans       &trans  &trans              &trans
&trans  &HRML LWIN A  &trans  &HRML LEFT_CONTROL D  &trans  &trans                    &trans  &trans  &mt RCTRL K  &trans  &mt RGUI SEMICOLON  &trans
&trans  &trans        &trans  &trans                &trans  &trans  &trans    &trans  &trans  &trans  &trans       &trans  &trans              &trans
                              &trans                &trans  &mo 6   &trans    &trans  &mo 4   &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        gaming_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "Gaming";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                         &kp N6  &kp N7    &kp N8     &kp N9   &kp N0         &mt G MINUS
&kp TAB    &kp Q   &kp W   &kp E     &kp R      &kp T                          &kp Y   &kp U     &kp I      &kp O    &kp P          &kp EQUAL
&kp LGUI   &kp A   &kp S   &kp D     &kp F      &kp G                          &kp H   &kp J     &kp K      &kp L    &kp SEMICOLON  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V      &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH       &kp RSHFT
                           &kp LALT  &kp LCTRL  &mo 6   &kp SPACE    &kp RET   &to 4   &kp BSPC  &kp RGUI
            >;

            label = "Gaming";
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "Lower";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2             &bt BT_SEL 3             &bt BT_SEL 4                    &trans     &trans     &trans           &trans    &trans    &trans
&kp F1      &kp F2            &kp F3             &kp F4                   &kp F5                   &kp F6                          &kp F7     &kp F8     &kp F9           &kp F10   &kp F11   &kp F12
&kp GRAVE   &HRML LCTRL EXCL  &HRML LEFT_ALT AT  &HRML LEFT_COMMAND HASH  &HRML LEFT_SHIFT DOLLAR  &kp PRCNT                       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans      &trans            &trans             &trans                   &trans                   &caps_word    &trans    &trans  &trans     &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC  &kp PIPE
                                                 &trans                   &trans                   &trans        &trans    &trans  &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "WLower";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0         &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans               &trans        &trans            &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &HRML EXCL LEFT_GUI  &trans        &HRML LCTRL HASH  &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans               &trans        &trans            &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                               &trans            &trans        &trans        &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "Nav";
            bindings = <
&trans     &kp LG(LS(Z))    &trans                &kp LG(BSLH)            &kp LC(LS(TAB))       &kp LC(TAB)                      &trans         &trans                           &trans            &trans                 &trans    &trans
&kp GRAVE  &kp LC(H)        &kp LA(BACKSPACE)     &kp LA(DEL)             &kp LG(TAB)           &kp ENTER                        &kp PAGE_UP    &kp LA(LEFT_ARROW)               &kp UP_ARROW      &kp LA(RIGHT)          &kp HOME  &none
&kp F1     &HRML LCTRL ESC  &HRML LEFT_ALT LG(Q)  &HRML LEFT_GUI LS(TAB)  &HRML LEFT_SHIFT TAB  &kp BACKSPACE                    &kp PAGE_DOWN  &HMRR LG(LEFT_ARROW) LEFT_ARROW  &kp DOWN_ARROW    &HMRR RG(RIGHT) RIGHT  &kp END   &none
&kp F7     &kp LG(Z)        &kp LG(X)             &kp LG(C)               &kp LG(V)             &kp DELETE     &trans    &trans  &kp KP_PLUS    &select_word_mac                 &select_line_mac  &kp LBKT               &kp RBKT  &kp BSLH
                                                  &trans                  &trans                &trans         &trans    &trans  &trans         &trans                           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_nav_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "WNav";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
    };
};
